form input {
    color: blue;
  }
  
  div input {
    color: green;
  }
  
  @keyframes animar {
    from {
      color: yellow;
      width: 50px;
    }
    to {
      color: blue;
      width: 400px;
    }
  }
  
  input[type="submit"] {
    animation-name: animar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }